/* Menetapkan property ini ke seluruh elemen dengan universal selector, tanpa box-sizing: border-box; , ketika menambahkan width.Padding dan border bertambah masing masing sehingga elemen tidak sesuai dari width yg diberikan */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    /* Font yang diutamakan adalah Quicksand, jika tidak ada, maka akan fallback ke sans-serif */
    font-family: "Quicksand", sans-serif;

    /* value 100vh membuat browser menampilkan elemen secara full memenuhi layar atau 100 viewport hight  */
    height: 100vh;

    /* Margin 0 fungsinya agar tidak ada ruang, jarak/ruang sisa, karena secara default browser margin: 8; */
    margin: 0;

    /* property pertama untuk mengaktifkan flex (parent), kedua membuat flex item menjadi kearah vertikal (atas ke bawah) */
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    /* width navbar 100% dari layar */
    width: 100%;

    /* width tidak akan lebih besar dari 1200px, gunanya pada monitor 4K navigasi gak akan terlalu lebar */
    max-width: 1200px;
    padding-block: 1rem;

    /* memberikan margin kiri dan kanan secara otomatis */
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* elemen navbar akan berada di paling atas  */
    z-index: 9999;
}

.navbar-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-form {
    flex: 1;
}

.search-form input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}


header.navbar-container .logo img {
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

/* menghilangkan bullet pada list */
header.navbar-container .nav-list li {
    list-style: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;

    /* menghilangkan underline pada anchor */
    text-decoration: none;

    font-size: 1.05rem;
    font-weight: 500;
    color: black;

    transition: all 0.2s ease-in-out;
}

/* hover untuk anchor link */
header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}

main {
    /* ini property child, dan juga shorthand dari beberapa property child */
    flex: 1;

    width: 100%;
    max-width: 1200px;

    /* membuat content ke center secara horizontal dengan membagi margin kiri dan kanan dengan auto (sama besar) */
    margin-inline: auto;

    /* padding atas bawah dengan value=2 mulai dari navbar, padding kiri kanan value=4 */
    padding: 2rem 4rem;

    display: flex;
    align-items: center;
}

main .content {
    /* flex-grow=1   flex-shrink=1 */
    flex: 1 1;

    display: flex;
    align-items: center;
}

main .content .content-description {
    flex: 1 1;
}

/* margin dari title atas bawah 1rem, mengikuti arah tulisan */
main .content .content-description .title {
    margin-block: 1rem;

    font-size: 3.5rem;
}


main .content .content-description p {
    /* mengatur font size dan jarak antar kalimat (vertikal) */
    font-size: 1.2rem;
    line-height: 1.7rem;
}

main .content .content-description button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;

    background-color: #2d3e50;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
    border: 3px #2d3e50;
    background-color: transparent;

    color: #2d3e50;
}

main .content .content-image img {
    width: 300px;
    min-width: 250px;
    margin: auto;
}

main aside {
    position: fixed;

    /* inset adalah shorthand CSS untuk mengatur posisi elemen (top, right, bottom, left) secara sekaligus, terutama pada elemen yang menggunakan position (relative, absolute, fixed, sticky). */
    inset-block: 0;
    inset-inline-end: 0;
}

/* Ini adalah parent */
main aside .social-media {
    height: 100%;
    display: flex;
}

main aside .social-media ul {
    padding: 1.5rem 1rem;
    
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color: #2d3e50;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .social-media li {
    list-style-type: none;
}

main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
    color: #89b0d9;
}

/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
    }

    main {
        padding: 1rem 3rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main .content .content-description .title {
        font-size: 3rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    /* image akan berada diatas, value default adalah 0 */
    main .content .content-image {
        order: -1;
    }
}